@charset "UTF-8";
/**** Start Surcharges ****/
.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  color: #989898;
  background-image: url("../img/fond.png");
  font-family: "Bree Serif", cursive, arial;
  line-height: 2;
}
header, footer, main section:not(.bienvenue) {
  max-width: 1100px;
  margin: 0 auto;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
  color: #989898;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h3, h4, h5 {
  color: #E4155D;
  padding-bottom: 15px;
}
h2, h3, h2::before, h2::after, h3::before, h3::after {
  text-align: center;
  content: " - ";
}
h3 {
  border-bottom: 2px solid rgba(152, 152, 152, 0.1);
}
h4 {
  font-size: 1.1em;
}
section {
  padding-bottom: 50px;
}

/**** End Surcharges ****/

/**** Start Header ****/
header {
  height: 180px;
}
header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}
header nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
}
header nav a h1 {
  padding: 30px 10px;
}
header nav a img {
  margin: 45px 10px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
header nav ul li {
  font-size: 2rem;
}
header nav ul li span{
  display: block;
  text-align: center;
}
/**** End Header ****/

/**** START MAIN ****/
/**** Start .Bienvenue ****/
main .bienvenue {
  text-align: center;
  background-image: url("../img/bg_header.png");
  background-position: top center;
  width: 100%;
  height: auto;
  padding: 200px 50px;
  color: white;
}
main .bienvenue h2 {
  padding-bottom: 30px;
  font-size: 2.5em;
}
main .bienvenue button#decouvrezMoi, main section form button[type="submit"] {
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.7rem;
  padding: 5px 15px;
  background: -webkit-linear-gradient(top, #E4155D 70%, #F5709F );  background: linear-gradient(to bottom, #E4155D 70%, #F5709F );
}
/**** End .Bienvenue ****/

/**** Start .skills ****/
.skills {
  text-align: center;
}
/**** End .skills ****/

/**** Start .realisation ****/
main section.realisations {
  text-align: center;
}
main section.realisations article.article_item {
  width: 30%;
  float: left;
}
main section.realisations article.article_item:nth-child(odd)  {
  margin: 0 5%;
}
main section.realisations article.article_item i {
  border: 2px rgba(152, 152, 152, 0.2) solid;
  border-radius: 30px;
  padding: 15px;
  background-color: rgba(152, 152, 152, 0.1);
}
/**** End .realisation ****/

/**** Start .exampleRealisation ****/
main section.exempleRealisations article {
  margin-bottom: 35px;
}
main section.exempleRealisations article img {
  width: 50%;
  height: auto;
}
main section.exempleRealisations article#article1 img, main section.exempleRealisations article#article3 img {
  margin-left: 15px;
  margin-bottom: 15px;
  float: right;
}
main section.exempleRealisations article#article2 img {
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}
main section.exempleRealisations article p {
  text-align: left;
}
main section.exempleRealisations article a.plus {
  color: #E4155D;
  margin-left: 20px;
}
/**** End ..exampleRealisation ****/

/**** Start formulaire ****/
main section form input, main section form textarea {
  border: 1px solid rgba(152, 152, 152, 0.5);
  padding: 20px;
  margin: 20px 0;
}
main section form input {
  width: 48%;
  border-radius: 50px;
  padding-left: 8%;
}
main section form input[name="prenom"] {
  background: url(../img/bg_form_name.svg) no-repeat left;
  margin-right: 2%;
  background-size: 15% 75%;
}
main section form input[name="email"] {
  background: url(../img/bg_form_mail.svg) no-repeat left;
  background-size: 15% 75%;
}
main section form textarea {
  background: url(../img/bg_form_message.svg) no-repeat left;
  background-size: 11% 75%;
  width: 100%;
  border-radius: 60px;
  padding-left: 11%;
}
main section form button[type="submit"] {
  float: right;
  margin: 5%;
}
/**** End formulaire ****/

/**** END MAIN ****/
