@charset "UTF-8";


/**** Start Surcharges ****/
.clearfix::after {				/*Alternative au overflow:hidden, ou div clear*/
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  color: #989898;
  background-image: url("../img/fond.png");
  font-family: "Bree Serif", cursive, arial;
  line-height: 2;
}
header, footer, main section:not(.bienvenue) {
  max-width: 1100px;
  margin: 0 auto;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
  color: #989898;
}
h1, h2, h3, h4, h5 {
  font-weight: normal;
}
h3, h4, h5 {
  color: #E4155D;
}

/**** End Surcharges ****/

/**** Start Header ****/
header {
  height: 180px;
}
header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}
header nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
}
header nav a h1 {
  padding: 30px 10px;
}
header nav a img {
  margin: 45px 10px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
header nav ul li {
  font-size: 2rem;
}
header nav ul li span{
  display: block;
  text-align: center;
}
/**** End Header ****/

/**** Start Main ****/
/**** Start .Bienvenue ****/
main .bienvenue {
  text-align: center;
  background-image: url("../img/bg_header.png");
  background-position: top center;
  width: 100%;
  height: auto;
  padding: 200px 50px;
  color: white;
}
main .bienvenue h2 {
  padding-bottom: 30px;
  font-size: 2.5em;
}
main .bienvenue label button#decouvrezMoi {   /*Dégradé à faire sur button*/
  background-color: #E4155D;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.7rem;
  padding: 5px 15px;
}
/**** End .Bienvenue ****/

/**** Start .skills ****/
.skills {
  text-align: center;
}
/* bla bla bla */

/**** End .skills ****/

/**** Start .realisation ****/
main section.realisations {
  text-align: center;
}
main section.realisations article.article_item {
  width: 30%;
  float: left;
  margin-top: 10px;
}
main section.realisations article.article_item:nth-child(odd)  {
  margin: 0 5%;
}
main section.realisations article.article_item i {
  border: 2px rgba(152, 152, 152, 0.2) solid;
  border-radius: 30px;
  padding: 15px;
  background-color: rgba(152, 152, 152, 0.1);
}



/**** End .realisation ****/






/**** End Main ****/
